.Border1{
    width: 200px;
    height: 200px;
    background-color: #a44170;
    border-radius:  15px 60px 40px 10px;
}
.Border2{
    margin-top: 3%;
    width: 200px;
    height: 200px;
    background-color: #a44170;
    border-radius:  10px 60px 40px 70px;
}
.Border3{
    margin-top: 3%;
    width: 200px;
    height: 200px;
    background-color: #a44170;
    border-radius:  15px 70px 30px 70px;
}
.Border4{
    margin-top: 3%;
    width: 500px;
    height: 350px;
    padding-top: 20px;
    font-size: 25px;
    background-color: aqua;
    border: 2px solid black;
    border-radius:  10px;
}
.Border5{
    margin-top: 3%;
    width: 500px;
    height: 350px;
    padding-top: 20px;
    font-size: 25px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 0px 0px 0px 60px;
}
.Border6{
    margin-top: 3%;
    width: 500px;
    height: 350px;
    padding-top: 20px;
    font-size: 25px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 0px 50px 0px 0px;
}
.Border7{
    margin-top: 3%;
    width: 500px;
    height: 350px;
    padding-top: 20px;
    font-size: 25px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 0px 0px 50px 0px;
}
.Border8{
    margin-top: 3%;
    width: 500px;
    height: 350px;
    padding-top: 20px;
    font-size: 25px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 40px 0px 0px 0px;
}
.Border9{
    background-color: #5e37BC;
    height: 200px;
    width: 200px;
    border-radius: 10px 40px 25px 5px;
}
.Border10{
    background-color: #5e37BC;
    height: 200px;
    width: 200px;
    border-radius: 10px 40px 15px 50px;
}
.Border11{
    background-color: #5e37BC;
    height: 200px;
    width: 200px;
    border-radius: 10px 45px 10px 50px;
}
.Border12{
    background-color: #5e37BC;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.Border13{
    background-color: #5e37BC;
    margin-top: 3%;
    height: 200px;
    width: 200px;
    border-radius: 30px 80px 20px 90px;
}
.Border14{
    background-color: #5e37BC;
    margin-top: 3%;
    height: 200px;
    width: 300px;
    border-radius:  30px / 100px;
}
.border-img{
    margin-top: 3%;
    border: 15px solid black;
    height: 300px;
    width: 50%;
    text-align: center;
    padding: 15px;
    border-image: url(./images/img1.jpg)30 round;


}

.align-content{
    margin-top: 20%;
}

.border-img2{
    margin-top: 3%;
    border: 70px solid transparent;
    height: 40px;
    padding: 10px;
    width: 30%;
    text-align: center;
    padding: 15px;
    border-image: url(./images/img1.jpg)30 stretch;
}
.border-stretch{
    margin-top: 3%;
    border:20px solid transparent;
    padding: 60px;
    border-image: url(./images/img2.jpg)220 round;
}
.border-stretch-2{
    margin-top: 3%;
    border:20px solid transparent;
    padding: 60px;
    border-image: url(./images/img2.jpg)260 stretch;
}

.border-stretch-3{
    margin-top: 3%;
    border:20px solid transparent;
    padding: 40px;
    border-image: url(./images/img3.jpg)120 round stretch;
}
.border-gradient-1{
    margin-top: 3%;
    border-image: linear-gradient(orange , yellow , green ) 40 / 30px 10px stretch;
    border-width: 30px 10px;
    text-align: center;
    padding: 25px;
    color: indigo;
    font-size: 24px;
}
.border-gradient-2{
    margin-top: 3%;
    border-image-width: repeating-linear-gradient(150deg,blue,yellow,lightgreen 20px) 30 / 20px 30px round;
    border-width: 30px 10px;
    text-align: center;
    padding: 25px;
    color: indigo;
    font-size: 24px;
}
.border-image-inset{
    border-image:url(./images/img1.jpg) 20 round;
    border: 15px green dotted;
    padding: 50px;
}
